.carousel-item {background: #ffe9e9;}
.text-pink{color: #ff0091;}
.btn-pink {background-color: #ff0091; color: #fff;}
.watch{background-color: #ffa900;}
.bag{background-color: #eb2ed9;}
.shoes{background-color: #5e00ff;}
.subscribe{background-color: rgb(255, 0, 145, 0.5);}